

#user-gesture-overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fca49a;
    z-index: 999999999;
    cursor: pointer;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #loading-animation {
    width:25%;
    height: auto;

  }

  #user-gesture-button {
    display:flex;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #CBEBB2;
    color: #013440;
    border: 0.25rem solid #CBEBB2;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999999999;
  }
  
  #user-gesture-button:hover{
    background-color: #d5efc1;
    border-color: #d5efc1;
  }



  .continue-text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #013440;
  }

  #continue-bear{
    width:148px;
    height:148px;
  }

  #continue-container{
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    z-index: 999999999999;
  }

  .continue-parent{

    display: flex;
    flex-direction: column;
    z-index: 9999;
    width: 500px;
    margin: 0;
    background: #F8F8F8;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding-left:4.5rem;
    padding-right:4.5rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    z-index: 999999999999;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .continue-child{
    flex: 1 1 100%;
    color: #013440;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    z-index: 999999999999;

  }
  

    @media only screen and (max-height: 480px) and (orientation: landscape)
    {

      .continue-text{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #013440;
      }
    
      #continue-bear{
        width:74px;
        height:74px;
      }
    
      #continue-container{
        display: none;
        align-items: center;
        justify-content: center;
        min-width: 100vw;
        z-index: 999999999999;
      }
    
      .continue-parent{
    
        display: flex;
        flex-direction: column;
        z-index: 9999;
        width: 15.875rem;
        margin: 0;
        background: #F8F8F8;
        flex-direction: column;
        border-radius: 50px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
        padding-left:3rem;
        padding-right:3rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        z-index: 999999999999;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    
      .continue-child{
        flex: 1 1 100%;
        color: #013440;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        z-index: 999999999999;
    
    }
  }